<header>
  <nav>
    <a [routerLink]="['']">Home</a>
    <a [routerLink]="['manage-market']" *ngIf="hasAnyMarketClaim">Manage Market</a>
    <a [routerLink]="['admin']" *ngIf="hasAdminClaim">Admin</a>
    <a [routerLink]="['settings']" *ngIf="userIsLoggedIn">Settings</a>
    <a [routerLink]="['login']" *ngIf="!userIsLoggedIn">Login</a>
    <a [routerLink]="['']" *ngIf="userIsLoggedIn" (click)="logout()">Logout {{userEmail}}</a>
  </nav>
</header>
<main>
  <router-outlet></router-outlet>
  <template ngbModalContainer></template>
</main>
<footer> 
    We are using Node.js {{nodeVersion}},
    Chromium {{chromeVersion}},
    and Electron {{electronVersion}}.    
</footer>
