<header>
<ul class="nav">
  <li class="nav-item">
    <a class="nav-link" [routerLink]="['']">Home</a>
  </li>  
  <li class="nav-item">
    <a class="nav-link" [routerLink]="['manage-market']" *ngIf="hasAnyMarketClaim">Manage Market</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" [routerLink]="['admin']" *ngIf="hasAdminClaim">Admin</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" [routerLink]="['settings']" *ngIf="userIsLoggedIn">Settings</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" [routerLink]="['login']" *ngIf="!userIsLoggedIn">Login</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" [routerLink]="['']" *ngIf="userIsLoggedIn" (click)="logout()">Logout {{userEmail}}</a>
  </li>
</ul>  
</header>
<main>
  <router-outlet></router-outlet>
  <template ngbModalContainer></template>
</main>
<footer> 
    We are using Node.js {{nodeVersion}},
    Chromium {{chromeVersion}},
    and Electron {{electronVersion}}.    
</footer>
